body {
    font-family: sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
header {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background-color: #f0f0f0;
    border-bottom: 1px solid #ccc;
}
.logo {
    height: 100px;
}
h1 {
    flex-grow: 1;
    text-align: center;
    font-size: 20px;
    margin: 0;
}
main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 20px;
}

.info-block h2 {
    color: #004a99;
    margin-bottom: 20px;
}

.info-block p {
    margin: 5px 0;
}
footer {
    text-align: center;
    padding: 10px;
    background-color: #f0f0f0;
    border-top: 1px solid #ccc;
}
